name: "Desktop App Publish"

on:
  push:
    tags:
      - "v*"
    branches:
      - desktop
      - release
  workflow_dispatch:

permissions:
  contents: write 

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          version: 9.2.0
          node-version: lts/*
          cache: pnpm
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Setup Python (macOS)
        if: matrix.os == 'macos-latest'
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install setuptools (macOS)
        if: matrix.os == 'macos-latest'
        run: python -m pip install setuptools

      - name: Setup Python 3.11 (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Ensure pip and setuptools (Ubuntu)
        if: matrix.os == 'ubuntu-latest'
        run: |
          python -m ensurepip --upgrade
          python -m pip install --upgrade pip setuptools wheel

      - name: Check pnpm version
        run: pnpm -v

      - name: Install Dependencies
        run: |
          pnpm install
          pnpm run install-app-deps

      - name: Import Apple Developer Certificate
        if: matrix.os == 'macos-latest'
        env:
          APPLE_CERTIFICATE: ${{ secrets.APPLE_CERTIFICATE }}
          APPLE_CERTIFICATE_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          echo $APPLE_CERTIFICATE | base64 --decode > signing_cert.p12
          security create-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" build.keychain
          security set-keychain-settings -t 3600 -u build.keychain
          security import signing_cert.p12 -k build.keychain -P "$APPLE_CERTIFICATE_PASSWORD" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$KEYCHAIN_PASSWORD" build.keychain
          security find-identity -v -p codesigning build.keychain

      - name: Generate .env file for notarization
        run: |
          echo "APPLE_ID=${{ secrets.APPLE_ID }}" >> apps/electron/.env.apple
          echo "APPLE_APP_SPECIFIC_PASSWORD=${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}" >> apps/electron/.env.apple
          echo "APPLE_TEAM_ID=${{ secrets.APPLE_TEAM_ID }}" >> apps/electron/.env.apple

      - name: build-mac
        if: matrix.os == 'macos-latest'
        env:
          NODE_OPTIONS: --max-old-space-size=4096
          CSC_LINK: signing_cert.p12
          CSC_KEY_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
          CSC_NAME: ${{ secrets.CSC_NAME }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE__ID: ${{ secrets.APPLE_ID }}
          APPLE_TEST: FOOOO 
          APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }} 
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run build:mac

      - name: build-linux
        if: matrix.os == 'ubuntu-latest'
        env:
          NODE_OPTIONS: --max-old-space-size=8192
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run build:linux

      - name: build-win
        if: matrix.os == 'windows-latest'
        env:
          NODE_OPTIONS: --max-old-space-size=8192
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm run build:win

      - name: List dist directory
        run: ls -l apps/electron/dist

      - name: release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          body: "See the assets to download this version and install."
          files: |
            apps/electron/dist/*.exe
            apps/electron/dist/*.zip
            apps/electron/dist/*.dmg
            apps/electron/dist/*.AppImage
            apps/electron/dist/*.snap
            apps/electron/dist/*.deb
            apps/electron/dist/*.rpm
            apps/electron/dist/*.tar.gz
            apps/electron/dist/*.yml
            apps/electron/dist/*.blockmap
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}